@import '~/assets/css/reset.css';

@font-face {
  font-family: 'Angry';
  src: url('public/fonts/Angry.otf') format('opentype');
}

* {
  scroll-behavior: smooth;
}

:root {
  --color: #eb0000;
  --color50: #eb000080;
  --color-dimmed: #670f0f;
  --color-light: #ff6161;
  --color-gray: #808080;
  --color-grey: #e0e0e0;
  --color-coal: #101010;
  --color-footer: hsl(0, 20%, 15%);
  --color-gray50: #231d1d80;
  --color-red-gray: #997570;
  --color-red-gray50: #cfafaf;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.66vmin;
}

@media (orientation: portrait) and (max-width: 539px) {
  :root {
    font-size: 2.75vmin;
  }
}

@media (orientation: portrait) and (min-width: 540px) {
  :root {
    font-size: 1.75vmin;
  }
}

@media (orientation: landscape) and (max-width: 1023px) {
  :root {
    font-size: 2vmin;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  :root {
    font-size: 1.66vmin;
  }
}

* {
  transition: all 333ms;
  -webkit-transition: all 333ms;
  -moz-transition: all 333ms;
  -ms-transition: all 333ms;
  -o-transition: all 333ms;

  transition: background 0ms;
  -webkit-transition: background 0ms;
  -moz-transition: background 0ms;
  -ms-transition: background 0ms;
  -o-transition: background 0ms;
}

::selection {
  background: var(--color50);
}

.unbounded {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
}

.pocket {
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  color: var(--color);
}

a:active {
  color: var(--color-light);
}

a, button {
  transition: all 333ms;
}