@import '~/assets/css/reset.css';

:root {
  --color: #eb0000;
  --color50: #eb000080;
  --color-dimmed: #670f0f;
  --color-light: #ff6161;
  --color-gray: #808080;
  --color-gray50: #80808080;
  --color-red-gray: #997570;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.5vmin;
}

* {
  transition: all 333ms;
  -webkit-transition: all 333ms;
  -moz-transition: all 333ms;
  -ms-transition: all 333ms;
  -o-transition: all 333ms;

  transition: background 0ms;
  -webkit-transition: background 0ms;
  -moz-transition: background 0ms;
  -ms-transition: background 0ms;
  -o-transition: background 0ms;
}

.unbounded {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
}

.pocket {
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  color: var(--color);
}

a:active {
  color: var(--color-light);
}